* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Nunito, Sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.justify_center {
    justify-content: center;
}

header {
    text-align: center;
    img {
        height: 200px;
    }
    nav {
        background-color: #B1D281;
        height: 80px;
        a {
            text-decoration: none;
            line-height: 80px;
            font-size: 1.6rem;
            color: black;
            padding: 0 15px;
        }
        a:hover {
            color: #002D75;
            text-decoration: underline;
        }
    }
}

.prodotti {
    text-align: center;
    img {
        height: 300px;
        margin: 30px;
    }
    h2 {
        font-style: italic;
        text-align: center;
        font-size: 36px;
        background-color: #CCE1E6;
        height: 60px;
        width: 100%;
        line-height: 60px;
    }
}