* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Nunito, Sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.justify_center {
  justify-content: center;
}

header {
  text-align: center;
}

header img {
  height: 200px;
}

header nav {
  background-color: #B1D281;
  height: 80px;
}

header nav a {
  text-decoration: none;
  line-height: 80px;
  font-size: 1.6rem;
  color: black;
  padding: 0 15px;
}

header nav a:hover {
  color: white;
  text-decoration: underline;
}

header nav .active {
  color: white;
  text-decoration: underline;
  font-weight: bold;
}

.home {
  text-align: center;
}

.home .item {
  margin: 20px;
  text-align: center;
  display: inline-block;
  justify-content: center;
}

.home img {
  height: 500px;
}

.home p {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 50px;
}

.prodotti {
  text-align: center;
}

.prodotti .card {
  height: auto;
  width: auto;
  display: inline-block;
  position: relative;
}

.prodotti img {
  height: 300px;
  margin: 30px;
}

.prodotti h2 {
  font-style: italic;
  text-align: center;
  font-size: 36px;
  background-color: #CCE1E6;
  height: 60px;
  width: 100%;
  line-height: 60px;
}

.prodotti .hover {
  padding: -200px;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0%;
}

.prodotti .hover img {
  height: 50px;
}

.prodotti .hover h3 {
  font-weight: bold;
  font-size: 24px;
}

.prodotti .card:hover .hover {
  opacity: 100%;
  cursor: pointer;
}

.contatti {
  margin: auto;
  text-align: center;
  padding: 100px;
  line-height: 40px;
}

.contatti h3 {
  font-weight: bold;
  font-size: 24px;
}

.contatti p {
  font-size: 24px;
}

