* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}

header {
  text-align: center;
}

header img {
  height: 200px;
}

header nav {
  background-color: #B1D281;
  height: 80px;
}

header nav a {
  text-decoration: none;
  line-height: 80px;
  font-size: 1.6rem;
  color: black;
  padding: 0 15px;
}

header nav a:hover {
  color: #002D75;
  text-decoration: underline;
}

.prodotti img {
  height: 300px;
}

